@import "../../../../../../utils/global";
@import "../../../../../../utils/shared";

.button-wrapper {
  button {
    &.return {
      position: fixed;
      right: 0;
      bottom: 0;
      margin: 50px;
      border-radius: 15px;
      outline: none;
      border: none;
      background: transparent;
      color: #000;

      span {
        display: block;
        transition: 0.2s;
        font-size: 250%;
        filter: drop-shadow(0 0 1px #000);

        @include hover-supported() {
          @include buttonOnHoverOrActive();
        }

        &:active {
          @include buttonOnHoverOrActive();
        }
      }
    }

    &.selector-button {
      transition: 0.2s;
      border-radius: 50%;
      margin-right: 20px;
      margin-top: -34px;
      font-size: 14px;
      font-weight: 600;
      border: none;
      z-index: 10;
      float: right;
      color: #fff;
      transition: 0.2s;

      @include hover-supported() {
        @include buttonOnHoverOrActive();
      }

      &.add-movie-to-list {
        background-color: $theButtonGreen;
        background-image: linear-gradient(-180deg, $theGreen, #28a745 90%);
        border: 1px solid rgba(27, 31, 35, 0.2);
        padding: 8px 10px;

        @include hover-supported() {
          background-image: linear-gradient(-180deg, $theGreen, #269f42 90%);
          background-position: -0.5em;
          border-color: rgba(27, 31, 35, 0.5);
        }
      }

      &.remove-movie-from-list {
        background-color: #bd3535;
        background-image: linear-gradient(-180deg, #bd3535, #a72828 90%);
        border: 1px solid rgba(27, 31, 35, 0.2);
        padding: 8px 12px;

        @include hover-supported() {
          background-image: linear-gradient(-180deg, #bd3535, #8b2222 90%);
          background-position: -0.5em;
          border-color: rgba(27, 31, 35, 0.5);
        }
      }

      @include respond-to(medium-handhelds) {
        padding: 6px;
        margin-top: -28px;
      }
    }
  }
}

// button {
//   transition: 0.2s;
//   border-radius: 50%;
//   margin-right: 20px;
//   margin-top: -34px;
//   font-size: 14px;
//   font-weight: 600;
//   border: none;
//   z-index: 10;
//   float: right;
//   color: #fff;
//   transition: 0.2s;

//   @include hover-supported() {
//     @include buttonOnHoverOrActive();
//   }

//   &.add-movie-to-list {
//     background-color: $theButtonGreen;
//     background-image: linear-gradient(-180deg, $theGreen, #28a745 90%);
//     border: 1px solid rgba(27, 31, 35, 0.2);
//     padding: 8px 10px;

//     @include hover-supported() {
//       background-image: linear-gradient(-180deg, $theGreen, #269f42 90%);
//       background-position: -0.5em;
//       border-color: rgba(27, 31, 35, 0.5);
//     }
//   }

//   &.remove-movie-from-list {
//     background-color: #bd3535;
//     background-image: linear-gradient(-180deg, #bd3535, #a72828 90%);
//     border: 1px solid rgba(27, 31, 35, 0.2);
//     padding: 8px 12px;

//     @include hover-supported() {
//       background-image: linear-gradient(-180deg, #bd3535, #8b2222 90%);
//       background-position: -0.5em;
//       border-color: rgba(27, 31, 35, 0.5);
//     }
//   }

//   @include respond-to(medium-handhelds) {
//     padding: 6px;
//     margin-top: -28px;
//   }
// }
