@import "../../../../../../utils/global";

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.floating-posters {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  opacity: 0.2;
  z-index: -2;
  position: absolute;
  top: 0px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;

  img {
    border-radius: 5px;
    margin: 5px;
    animation: float 4s ease-in-out infinite;

    &:nth-child(1) {
      margin-right: 8px;
      animation-delay: 0.4s;
    }

    &:nth-child(2) {
      margin-top: 2px;
      margin-left: 0px;
    }

    &:nth-child(3) {
      animation-delay: 0.8s;
    }

    &:nth-child(4) {
      margin-bottom: 10px;
    }

    &:nth-child(5) {
      margin-left: 12px;
    }

    &:nth-child(6) {
      animation-delay: 0.5s;
    }

    &:nth-child(7) {
      margin-right: 13px;
    }

    &:nth-child(8) {
      margin: 3px;
      animation-delay: 0.8s;
    }

    &:nth-child(9) {
      margin: 8px;
    }

    &:nth-child(10) {
      animation-delay: 0.4s;
    }
  }
}
